In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
emp=pd.read_csv('Position_Salaries.csv')

In [13]:
emp

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [31]:
x=emp.iloc[:,1:2].values
print(x)
y=emp.iloc[:,2].values
print(y)

[[ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]]
[  45000   50000   60000   80000  110000  150000  200000  300000  500000
 1000000]

In [32]:
from sklearn.ensemble import RandomForestRegressor
r1=RandomForestRegressor(n_estimators=100,random_state=0)
r1.fit(x,y)

RandomForestRegressor(random_state=0)

In [33]:
y_pred=r1.predict(np.array([6.5]).reshape(1,1))

In [ ]:
x_grid=np.arange(min(x),max(x))